{% extends 'app1/base.html' %} 
{% block h1 %} Anwesenheit laufend
<form method="POST" style = "width: 5em">
  {% csrf_token %}
      {{ form | safe }}
  </form>{% endblock h1 %} 

{% block content %}


  <form method="POST">
    {% csrf_token %}
    <input type="hidden" name="gruppe" value="{{gruppe.id}}" />
    {% for zeile in teilnehmer %}
        <div class="form-check form-switch">
          {% if zeile.1 %}
            <button type="submit" class="btn btn-success" name="button" value="{{zeile.0.id}}">Anwesend</button>
          {% else %}
            <button type="submit" class="btn btn-danger" name="button" value="{{zeile.0.id}}">Abwesend</button>
          {% endif %}
            <button type="button" class"btn btn-outline-primary">{{zeile.0.name}}, {{zeile.0.vorname}} - {{zeile.0.ausbildung.slug}}</button>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-info" name="button" value="weiter">Auswerten</button>
  </form>
{% endblock content %}
